<template name="messages">
  <div class="message-history">
    <div class="message">
      <a href="" class= "message_profile-pic"></a>
      <a href="" class="message_username">User 1</a>
      <span class="message_timestamp">1:31 AM</span>
      <span class="message_star"></span>
      <span class="message_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias incidunt officia animi ducimus nostrum a cum, sunt, minima fugit repellendus assumenda expedita. Eaque autem vero delectus, optio, consequuntur suscipit.</span>
    </div>
  </div>
</template>